<div class="wrapper-table">
      <ul>
        <li>
          <a [routerLink]="['navigator']" [queryParams]="{'tab': '1'}">
            Income
          </a>
        </li>
        <li>
          <a [routerLink]="['navigator']" [queryParams]="{'tab': '2'}">
            Outcome
          </a>
        </li>
        <li>
          <a [routerLink]="['navigator']" [queryParams]="{'tab': '3'}">
            Loans
          </a>
        </li>
        <li>
          <a [routerLink]="['navigator']" [queryParams]="{'tab': '4'}">
            Investment
          </a>
        </li>
      </ul>
    <router-outlet></router-outlet>
</div>
